@tailwind base;
@tailwind components;
@tailwind utilities;


 
/* Tooltip styling */
.tooltip {
  @apply absolute left-1/2 -translate-x-1/2 mt-2 px-2 py-1 text-sm bg-reddit-text text-reddit-card rounded-md opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity duration-150 whitespace-nowrap z-50;
}

.tooltip::after {
  content: "";
  @apply absolute left-1/2 top-0 -translate-x-1/2 -translate-y-full border-8 border-transparent border-b-reddit-text;
}
